
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bs-body-font-family: 'Inter', sans-serif;
    --bs-btn-padding-y: 1.375rem;
    --bs-btn-padding-x: 3.75rem;
    --bs-btn-bg:red;
}
.card{
    width: 100%;
    max-width: 784px;
}
.row{
    background-color: #F7F9FF;
}
.card-title{
    color: #284B80;
    font-weight: 500;
    font-size: 25px;
}
.card-desc{
    color: #8D98AA;
}
.card-stats-title{
    font-weight: 500;
font-size: 20px;
color: #8D98AA;
}
.stats-desc{
    font-weight: 500;
    font-size: 28px;
    color: #284B80;
}